#include <physical_layouts.dtsi>
#include "sweep35.dtsi"

/ {
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios
            = <&pro_micro  7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&pro_micro 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&pro_micro 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&pro_micro 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&pro_micro 21 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&pro_micro 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&pro_micro 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&pro_micro 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&pro_micro 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&pro_micro  1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&pro_micro  2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&pro_micro  3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&pro_micro  4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&pro_micro  5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&pro_micro  6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&pro_micro  8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            , <&pro_micro  9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
            ;
    };

    sweep35_right_physical_layout: sweep35_right_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Sweep35 Right";
        kscan = <&kscan0>;
        transform = <&default_transform>;
        keys =
            <&key_physical_attrs 100 100  800   25       0     0     0>,
            <&key_physical_attrs 100 100  900   12       0     0     0>,
            <&key_physical_attrs 100 100 1000    0       0     0     0>,
            <&key_physical_attrs 100 100 1100   30       0     0     0>,
            <&key_physical_attrs 100 100 1200  100       0     0     0>,
            <&key_physical_attrs 100 100  800  125       0     0     0>,
            <&key_physical_attrs 100 100  900  112       0     0     0>,
            <&key_physical_attrs 100 100 1000  100       0     0     0>,
            <&key_physical_attrs 100 100 1100  130       0     0     0>,
            <&key_physical_attrs 100 100 1200  200       0     0     0>,
            <&key_physical_attrs 100 100  800  225       0     0     0>,
            <&key_physical_attrs 100 100  900  212       0     0     0>,
            <&key_physical_attrs 100 100 1000  200       0     0     0>,
            <&key_physical_attrs 100 100 1100  229       0     0     0>,
            <&key_physical_attrs 100 100 1200  300       0     0     0>,
            <&key_physical_attrs 100 100  952  312 (-3000)  1002   789>,
            <&key_physical_attrs 100 100  952  312 (-1500)  1002   789>;
    };
    &default_transform {
        col-offset = <17>;
    };
};